<!DOCTYPE html>
<html>
<body>

<h2>Forms</h2>

<form action="/API/scrape" method="post">
  <label for="fname">search</label><br>
  <input type="text" name="search"><br>
  <button type="submit" >Submit</button>
</form> 


</body>
</html>